h1{
  color: #333;
  position: fixed;
  font-family: Arial;
  margin: 0px;
  padding: 0px;
  top: 10px;
  left: 10px;
}

.aps {
  height: 600px;
  margin: auto;
}

.aps path {
  fill: #2f86b1;
  border: solid 5px #333;
  stroke: #fff;
}

.aps path:hover {
  fill: #274662;
}

.aps path:focus{
  fill: #274662;
}